<nav class="bg-gray-300 shadow-lg">

    <div class="max-w-6xl px-4 mx-auto ">
        <div class="flex justify-between">
            <div class="flex space-x-1">
                <!-- logo -->
                <div>
                    <div class="text-lg text-blue-500">Logo</div>
                </div>
                <!-- main nav -->
                <div class="hidden px-24 space-x-1 sm:flex justify- ">
                    <NavLink class="btn-blue">Home</NavLink>
                    <NavLink class="btn-blue">Counter</NavLink>
                </div>

                <div class="justify-end hidden space-x-3 sm:flex">
                    <NavLink>Log in</NavLink>
                    <NavLink>Sign Up</NavLink>
                </div>
            </div>
        </div>

        <div class="sm:hidden">
            <HambergerButton CollapseNaveMenu="@collapseNavMenu" ToggleNavMenu="@ToggleNavMenu" />

            <div class="flex @navMenuClass">
                <NavLink class="">Home</NavLink>
                <NavLink class="">Counter</NavLink>
            </div>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu { get; set; } = true;
    string navMenuClass => collapseNavMenu ? "hidden" : "";

    void ToggleNavMenu()
    {
        collapseNavMenu =! collapseNavMenu;
    }

}
