<nav class="bg-gray-800">

    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">

        <div class="relative flex items-center justify-between h-16">
            <!-- Absolute -->
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <HambergerButton IsNavMenuOpen="@isNavMenuOpen" ToggleNavMenu="@ToggleNavMenu" />
            </div>

            <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
                <div class="flex items-center flex-shrink-0">
                    <h3>
                        <NavLink class="text-blue-500" href="">My Logo</NavLink>
                    </h3>
                </div>
                <div class="hidden">
                    <NavLink class="text-gray-100 " href="">Home</NavLink>
                    <NavLink class="text-gray-100" href="counter">Counter</NavLink>
                </div>

            </div>
        </div>
    </div>
</nav>

@code {
    bool isNavMenuOpen { get; set; } = false;
    string navMenuClass => isNavMenuOpen ? "flex" : "hidden";

    void ToggleNavMenu()
    {
        isNavMenuOpen = !isNavMenuOpen;
    }
}