<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="container bg-gray-500">

                <!-- logo -->
                <div>
                    <h3 class=" text-gray-50">Blazing Trails</h3>
                </div>
                <!-- main nav -->
                <div class="flex justify-around">
                    <NavLink ActiveClass="activeBtn" InactiveClass="inactiveBtn" class="inactiveBtn" href="" >Home</NavLink>
                    <NavLink ActiveClass="activeBtn" class="inactiveBtn" href="counter" >Counter</NavLink>
                </div>

        <div class="sm:hidden">
            <HambergerButton CollapseNaveMenu="@collapseNavMenu" ToggleNavMenu="@ToggleNavMenu" />

            <div class="flex @navMenuClass">
                <NavLink class="">Home</NavLink>
                <NavLink class="">Counter</NavLink>
            </div>
        </div>

</nav>


@code {
    bool collapseNavMenu { get; set; } = true;
    string navMenuClass => collapseNavMenu ? "hidden" : "";

    void ToggleNavMenu()
    {
        collapseNavMenu =! collapseNavMenu;
    }
}
