<nav class="flex items-center justify-between px-4 py-2 mx-auto bg-gray-800 shadow-2xl bg-opacity-90">
    <div class="inline-flex items-center text-2xl font-semibold text-white">
        Blazing Trails
    </div>
    <div>
        <ul class="flex text-white">
            <li class="px-2 py-1 ">
                <NavLink>Home</NavLink>
            </li>
            <li class="px-2 py-1 ">
                <NavLink>Counter</NavLink>
            </li>
        </ul>
    </div>
</nav>