<Router AppAssembly="@typeof(CoreRouter).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Not Found</h1>
        </LayoutView>
    </NotFound>
</Router>